.gm-style-iw {
  padding: 0 !important;
}

@media screen and (max-width: 450px) and (max-height: 800px) {
  .gm-style-iw {
    overflow-y: scroll !important;
  }
}

@media screen and (max-height: 800px) {
  .gm-style-iw {
    overflow-y: scroll !important;
  }
}

.gm-style-iw-d {
  padding: 0 !important;
  overflow: unset !important;
}

.gm-ui-hover-effect {
  background-color: #ffffff !important;
  top: 5px !important;
  right: 5px !important;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.20);
}
